<h1><%=@group.name%></h1>
<% if signed_in? %>
  <div id="join_group_button">
    <%= render "join_group_button", group: @group %>
 </div>

    <% if current_user.liked? @group%>
      <%= button_to "Unlike this group", unlike_group_path(@group), method: :delete %>
    <%else%>
      <%= button_to "Like this group!", like_group_path(@group) %>
    <%end%>
<%end%>
<%= render @images %>
