<h2>Edit Image</h2>
<%= form_for(@image) do |form| %>
  <%= render 'form_errors', target: @image %>
  <div>
  <%= form.text_field :name%>
</div>
<div>
  <%= form.text_field :description%>
</div>
<div>
  <%= form.text_field :url%>
</div>
<div>
  <%= form.collection_check_boxes :group_ids, @groups, :id, :name %>
</div>
  <%= form.submit "Edit Image" %> 
<% end %>

