<h2>New Image</h2>

<%= form_for([@gallery, @image]) do |form| %>
  <%= render 'form_errors', target: @image %>
    <div>
    <%= form.text_field :name, placeholder: "Name"%>
  </div>
  <div>
    <%= form.text_field :description, placeholder: "Description" %>
  </div>
  <div>
    <%= form.text_field :url, placeholder: "Url"%>
  </div>
  <%= form.submit "Create Image" %> 
<% end %>

